<app-navbar></app-navbar>
<p>Created Question & Answer Page</p>

<!-- types of Quiz: multiple choice (single answer), multiple choice (multi answers) -->
<!-- number of questions: 10 questions per quiz -->
<!-- A, B, C, D for answers (have a check box for user to choice) -->
<!-- Next button takes you to the next question ... last question takes you to results page -->

<!-- postgres SQL Table Data --------------------------------------------------------------------->
<!-- quiz ==> quiz_id, user_name, title -->
<!-- question_details ==> question_id, quiz_id, question_type -->
<!-- answer_details ==> answer_id, quiz_id, question_id, is_correct (boolean) -->
<!------------------------------------------------------------------------------------------------>