<app-navbar></app-navbar>

<!-- types of Quiz: multiple choice (single answer), multiple choice (multi answers) -->
<!-- number of questions: 10 questions per quiz -->
<!-- A, B, C, D for answers (have a check box for user to choice) -->
<!-- Next button takes you to the next question ... last question takes you to results page -->

<!-- postgres SQL Table Data --------------------------------------------------------------------->
<!-- quiz ==> quiz_id, user_name, title -->
<!-- question_details ==> question_id, quiz_id, question_type -->
<!-- answer_details ==> answer_id, quiz_id, question_id, is_correct (boolean) -->
<!------------------------------------------------------------------------------------------------>

<div class="card border-secondary mb-3">
    <div class="card-header">
        <input type="text" class="form-control" aria-label="Text input" placeholder="Qwiz Title">
    </div>
    <div class="card-body text-secondary">
        <h5 class="card-title">
            <input type="text" class="form-control" aria-label="Text input" placeholder="# Question ...? ">
        </h5>
        <h6>Check all answers that are correct</h6>
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value="is_correct"
                    aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="A) answers ...">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value="is_correct"
                    aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="B) answers ...">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value="is_correct"
                    aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="C) answers ...">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value="is_correct"
                    aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="D) answers ...">
        </div>
        <button type="button" class="btn btn-primary">Next</button>
        <!-- next goes to next ?, @ last ? goes to results page -->
    </div>
</div>